[project]
	description = ansj??.ict???java??.?????????????ict. ????,????,????,???????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jianlei
[access "refs/for/refs/*"]
	read = group user/jianlei
	push = group user/jianlei
	label-Code-Review = -2..+2 group user/jianlei
	label-Verified = -1..+1 group user/jianlei
	rebase = group user/jianlei
	removeReviewer = group user/jianlei
	submit = group user/jianlei
[access "refs/heads/*"]
	read = group user/jianlei
	create = group user/jianlei
	push = +force group user/jianlei
	pushMerge = group user/jianlei
[access "refs/tags/*"]
	push = +force group user/jianlei
	pushTag = group user/jianlei
	pushSignedTag = group user/jianlei
